<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>AliceBox - Music Application - Login Pages</title>

        <meta name="description" content="AliceBox is a music player application, which help users listen their music everywhere.">
        <meta name="author" content="Vu Hoai Nam">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- The Open Sans font is included from Google Web Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic">

        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.css">

        <!-- Related styles of various icon packs and javascript plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="js/vendor/modernizr-2.6.2-respond-1.3.0.min.js"></script>
    </head>

    <!-- Body -->
    <body>
        <!-- Header -->
        <header class="navbar navbar-default navbar-fixed-top">
            <!-- Header Brand -->
            <a class="navbar-brand">
                <img src="img/template/drop.png" alt="FreshUI">
                <span>AliceBox</span>
            </a>
            <!-- END Header Brand -->
        </header>
        <!-- END Header -->

        <%- body %>

        <!-- Get Jquery library from Google but if something goes wrong get Jquery from local file - Remove 'http:' if you have SSL -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="js/vendor/jquery-1.10.2.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and custom Javascript code -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Javascript code only for this page -->
        <script>
            $(function() {
                /* Save buttons (remember me and terms) and hidden checkboxes in variables */
                var checkR = $('#login-remember'),
                    checkT = $('#register-terms'),
                    btnR = $('#btn-remember'),
                    btnT = $('#btn-terms');

                // Add the 'active' class to button if their checkbox has the property 'checked'
                if (checkR.prop('checked'))
                    btnR.addClass('active');
                if (checkT.prop('checked'))
                    btnT.addClass('active');

                // Toggle 'checked' property of hidden checkboxes when buttons are clicked
                btnR.on('click', function() {
                    checkR.prop('checked', !checkR.prop('checked'));
                });
                btnT.on('click', function() {
                    checkT.prop('checked', !checkT.prop('checked'));
                });

                /* Login & Register show-hide */
                var formLogin = $('#form-login'),
                    formRegister = $('#form-register');

                $('#link-login').click(function() {
                    formLogin.slideUp(250);
                    formRegister.slideDown(250);
                });
                $('#link-register').click(function() {
                    formRegister.slideUp(250);
                    formLogin.slideDown(250);
                });
            });
        </script>
    </body>
</html>
